<div class="body-conatiner">
  <div class="main-container">
    <div class="second- container">
      <h1 class="logo-text">BH</h1>
      <div class="login-container">
        <div class="input-box">
          <i class="fa fa-user icon"></i>
          <input type="text" placeholder="USERNAME" autocomplete="off" [(ngModel)]="user.name" (ngModelChange)="onChange()">
        </div>
        <div class="input-box">
          <i class="fa fa-lock icon"></i>
          <input type="password" placeholder="PASSWORD" autocomplete="new-password"  [(ngModel)]="user.password" (ngModelChange)="onChange()">
        </div>
        <button class="login-button" (click)="onLogin()">LOGIN</button>
      </div>
    </div>
  </div>
</div>
