.body {
  display: flex;
  background-color: #f7f9fb;
  color: #1f1f1f;
}

.sidebar {
  width: 250px;
  background-color: #192d44;
  color: white;
  height: 100vh;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.sidebar h1 {
  padding: 10px;
  font-size: 32px;
  height: 60px;
  background-color: #0b1b2e;
  margin-bottom: 60px; 
}
.sidebar a {
  color: white;
  text-decoration: none;
  padding: 10px 30px;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  background-color:#0b1b2e ;
}

.sidebar a i {
  margin-right: 10px;
}
.sidebar a.active {
  background-color: white; 
  color: black ;
}

.main {
  flex: 1;
  padding: 0px;
}

.main h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.table-container {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #eee;
}

th {
  color: #5e5e5e;
}

td img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-right: 10px;
}

.file-name {
  display: flex;
  align-items: center;
}

.badge {
  padding: 4px 10px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 600;
  color: white;
  display: inline-block;
}

.badge.doc {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: #5a4fcf;
  border-radius: 50%;
  padding: 0;
  margin: 0;
}

.badge.ani {
  background-color: #16b5ff;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  padding: 0;
  margin: 0;
}

.badge.img {
  background-color: #cc7a00;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  padding: 0;
  margin: 0;
}

.pagination {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.pagination span,
.pagination button {
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
}

.pagination button {
  background: #5a4fcf;
  color: white;
  border: none;
  cursor: pointer;
}

.pagination span.disabled {
  color: #ccc;
}

.table-check {
  background: #5a4fcf;
  color: white;
  border-color: transparent;
  border-radius: 5px;
  cursor: pointer;
  width: 20px;
  height: 20px;

}


.header {
  padding: 25px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  margin: 10px;
  height: 80px;
  border-radius: 10px;
}

.logout {
  margin: 7px;
  width: 60px;
  height: 25px;
  background-color: black;
  color: white;
  border-radius: 5px;
  border-color: transparent;
  cursor: pointer;
}

.password {
  color: #f7f9fb;
  transition: all ease-in 0.3s;
}

.password:hover {
  color: black;
}

.footer {
  background-color: rgb(255, 255, 255);
  width: 100%;
  padding: 20px;
  margin-top: 34px;
}

.copyright {
  font-weight: 500;
}

.table-bad {
  display: inline-block;
  margin: 4px;
  padding: 0;
}


.profile-dropdown-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.profile-info {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 4px 12px;
  border-radius: 25px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  user-select: none;
}

.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-image: url('https://us.123rf.com/450wm/9moshi/9moshi2306/9moshi230600403/207256842-young-man-sitting-on-the-top-of-a-mountain-and-watching-the-sunrise.jpg?ver=6');
  background-size: cover;
  background-position: center;
}

.arrow {
  font-size: 12px;
  transition: transform 0.3s ease;
}

.arrow.open {
  transform: rotate(180deg);
}

.dropdown-menu {
  position: absolute;
  top: 160%;
  right: -23%;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  margin-top: 10px;
  min-width: 160px;
  z-index: 1000;
  overflow: hidden;
}

.dropdown-item {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: background 0.2s;
  background: white;
  border: none;
  text-align: left;
  width: 100%;
}

.dropdown-item:hover {
  background-color: #f0f0f0;
}

