.body {
    display: flex;
    background-color: #f7f9fb;
    color: #1f1f1f;
  }
  .sidebar {
    width: 250px;
    background-color: #0b1b2e;
    color: white;
    height: 100vh;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .sidebar h1 {
    font-size: 32px;
    text-align: center;
    margin-bottom: 40px;
  }
  .sidebar a {
    color: white;
    text-decoration: none;
    padding: 10px 30px;
    display: block;
    transition: 0.3s;
  }
  .sidebar a:hover {
    background-color: #1d2c44;
  }
  .main {
    flex: 1;
    padding: 30px;
  }
  .main h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .table-container {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
  }
  table {
    width: 100%;
    border-collapse: collapse;
  }
  th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #eee;
  }
  th {
    color: #5e5e5e;
  }
  td img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-right: 10px;
  }
  .file-name {
    display: flex;
    align-items: center;
  }
  .badge {
    padding: 4px 10px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 600;
    color: white;
    display: inline-block;
  }
  .badge.doc { background-color: #5a4fcf; }
  .badge.ani { background-color: #16b5ff; }
  .badge.img { background-color: #cc7a00; }
  .pagination {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }
  .pagination span, .pagination button {
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
  }
  .pagination button {
    background: #5a4fcf;
    color: white;
    border: none;
    cursor: pointer;
  }
  .pagination span.disabled {
    color: #ccc;
  }
  .table-check{
    background: #5a4fcf;
    color: white;
    border-color: transparent;
    border-radius: 5px;
    cursor: pointer;
    width: 20px;
    height: 20px;

  }

  .proflie {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ccc;
    background-image: url('https://us.123rf.com/450wm/9moshi/9moshi2306/9moshi230600403/207256842-young-man-sitting-on-the-top-of-a-mountain-and-watching-the-sunrise.jpg?ver=6');
    background-size: cover;
    background-position: center;
  }
  .header{
    display: flex;
    justify-content: space-between;
    margin: 10px;
  }
  .profile-container{
    display: flex;
    gap: 10px;
  }
  .logout{
    margin: 7px;
    width: 60px;
    height: 25px;
    background-color: red;
    color: white;
    border-radius: 5px;
    border-color: transparent;
    cursor: pointer;
  }
  .password{
    color: #f7f9fb;
    transition: all ease-in 0.3s;
  }
  .password:hover{
    color: black;
  }